@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&family=DM+Sans:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Sans", sans-serif;
}

h1, h2, h3 {
  font-family: "Playfair Display", serif;
}

main {
  width: auto;
  min-height: 90vh;
  padding-top: 20px;
}
